################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CNPJ.Processing.Api/bin/Debug/net8.0
/CNPJ.Processing.Api/obj
/CNPJ.Processing.Application/bin/Debug/net8.0
/CNPJ.Processing.Application/obj
/CNPJ.Processing.Core/bin/Debug/net8.0
/CNPJ.Processing.Core/obj
/CNPJ.Processing.CrossCutting.IoC/bin/Debug/net8.0
/CNPJ.Processing.CrossCutting.IoC/obj
/CNPJ.Processing.DataBase/bin/Debug/net8.0
/CNPJ.Processing.DataBase/obj
/CNPJ.Processing.DataBase
/CNPJ.Processing.Domain/bin/Debug/net8.0
/CNPJ.Processing.Domain/obj
/CNPJ.Processing.Infra/bin/Debug/net8.0
/CNPJ.Processing.Infra/obj
/CNPJ.Processing.Infra.Data/bin/Debug/net8.0
/CNPJ.Processing.Infra.Data/obj
/CNPJ.Processing.Tests/bin
/CNPJ.Processing.Tests/obj
/seq-data
